SpeechRecognition
pyaudio
groq
google-genai
python-dotenv
edge-tts
pygame
soundfile
numpy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Pillow
pyautogui
fastapi
uvicorn
websockets
pywebview
psutil
scapy
wmi
requests
screeninfo
openwakeword
onnxruntime
playwright
google-search-results
